.name-input,
.email-input {
    margin-bottom: 3px;
    display: block;
}

.thanks-text {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.google_search {
    padding-left: 10px;
    padding-top: 9px;
    padding-right: 200px;
    padding-bottom: 8px;
    width: 400px;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    border-style: none;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
}

.first-name, .last-name {
    font-size: 15px;
    padding-left: 10px;
    height: 35px;
    width: 115px;
    margin-bottom: 8px;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
}

.email {
    font-size: 15px;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    height: 35px;
    width: 250px;
    margin-top: 4px;
    display: block;
    margin-bottom: 10px;
}

.sign-up {
    background-color: rgb(9, 87, 189);
    border-style: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 264px;
    font-size: 16px;
    margin-bottom: 30px;
}

.uber-title {
    font-family: Arial;
    font-size: 30px;
    margin-bottom: 15px;
}

.pickup, .destination {
    border: none;
    background-color: rgb(230, 230, 230);
    width: 280px;
    height: 35px;
    padding-left: 25px;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}

.destination {
    margin-bottom: 18px;
}

.uber_button {
    background-color: black;
    color: white;
    border: none;
    height: 35px;
    width: 120px;
    font-family: Arial;
    font-size: 12px;

    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.uber_button:hover {
    opacity: 0.8;
}

.uber_button:active {
    opacity: 0.5;
}

.scheldule {
    background-color: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
    border: none;
    height: 35px;
    width: 120px;
    font-family: Arial;
    font-size: 12px;

    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.scheldule:hover {
    opacity: 0.8;
}

.scheldule:active {
    opacity: 0.5;
}