p {
    font-family: Arial;
    margin: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.notebox {
    display: flex;
    max-width: 420px;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(187, 187, 187);
    flex-direction: column;
}

.noteline {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.notenumber {
    align-items: center;
    text-align: center;
    padding: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: rgb(55, 84, 218);
    font-weight: bold;
    color: white;
}