p {
    font-family: Roboto, Arial;
    margin: 0px;
    margin-bottom: 0px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 40px;
}


@media (max-width: 800px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1600px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.thumbnail {
    position: relative;
    max-width: 600px;
}

.thumbnail01 {
    max-width: 100%;
    max-width: 100%;
}

.video-time {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    position: absolute;
    padding: 4px;
    border-radius: 2px;
    bottom: 10px;
    right: 8px;
}

.video-title {
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 11px;
}

.the-link {
    text-decoration: none
}

.video-author, .stats {
    font-size: 13px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 6px;
}

.channel-pfp {
    width: 36px;
    border-radius: 50px;
}

.info-nest {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-container {
    position: relative;
}

.timestamp {
    position: absolute;
    bottom: 12px;
    right: 8px;
    color:white;
    background-color: rgba(0, 0, 0, 0.8);

    border-radius: 2px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.channel-info {
    display: flex;
    flex-direction: row;
    background-color: white;
    position: absolute;
    padding: 10px;
    width: 300px;
    height: 80px;

    align-items: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    z-index: 8;
    
}

.channel-info-pfp {
    width: 36px;
    border-radius: 50px;
}